html,body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body { 
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.horizontal_center{
  border-top: 2px solid #999;
  height: 2px;
  width : 5%;
  margin: 20px auto;
}

@media only screen and (max-width: 428px) {
  .horizontal_center {
    width: 20%;
  }
}

/* Navbar Start */

.navbar img {
  width: 144px;
  margin-top: 0.5rem;
}

.navbar .navbar-nav .nav-link {
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition-duration: 0.4s;
}
.navbar .navbar-nav .nav-link:hover{
  color: rgb(216, 216, 216);
}

.navbar .navbar-nav {
  margin-top: -0.5rem;
}

.navbar .navbar-toggler-icon {
  background-image: url(img/hamburger.png);
  width: 36px;
  height: 36px;
}

@media only screen and (min-width: 960px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}

@media only screen and (max-width: 428px) {
  .navbar img {
    width: 77px;
  }
}

/* Navbar End */

/* Home Start */

.jumbotron {
  height: 840px;
  background-image: url(img/bg-main.jpg);
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 0;
}

.home h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 180px;
  margin-left: 60px;
}

.home p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 20px;
  margin-left: 60px;
}

p.mobile {
  font-size: 0;
}

.home button {
  width: 266px;
  height: 51px;
  border: none;
  font-family: 'Montserrat';
  font-size: 16px;
  background-color: #00398f;
  color: white;
  border-radius: 50px;
  transition-duration: 0.7s;
  cursor: pointer;
  margin-top: -10px;
  margin-left: 60px;
}

.home button:hover {
  background-color: #0045AD;
}

@media only screen and (max-width: 1024px) {
  .jumbotron {
    height: 680px;
  }
  .home h1 {
    margin-top: 100px;
    margin-left: 0;
  }
  .home p {
    margin-left: 0;
  }
  .home button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 428px) {
  .jumbotron {
    height: 600px;
  }
  .home h1{
    font-size: 32px;
    margin-left: 0;
    margin-top: 87px;
  }
  .home p {
    font-size: 0;
  }
  p.mobile {
    font-size: 16px;
    line-height: 30px;
    margin-top: -20px;
    margin-left: 0;
  }
  .home button {
    width: 190px;
    margin-top: 10px;
    margin-left: 0;
  }
}

/* Home End */

/* Service Start */

.container-fluid {
  max-width: 1300px
}

.service h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 0px;
  padding-top: 60px;
}

.service p {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 50px;
}

.card {
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.25);
  border-radius: 20px;
}

.mb-3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

span.l {
  display: inline-block;
  margin-top: -30px;
}

span.ksm1 {
  display: inline-block;
  margin-top: -10px;
}

span.ksm2 {
  display: inline-block;
  margin-top: -12px;
}

span.ksm3 {
  display: inline-block;
  margin-top: 0px;
}

.card h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 190%;
  text-align: center;
  color: #212121;
  margin-top: 10px;
  display: inline-block;
}

.card-img-top {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  padding: 30px;
}

.card h2 {
  font-size: 1rem
}

.service a {
  text-decoration: none;
}

.btns {
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 40px;
  background-color: #00398f;
  border-radius: 20px;
  color: #fff;
  transition-duration: 0.7s;
}

.btns:hover {
  color: #fff;
  background-color: #0045AD;
}

@media only screen and (max-width: 1024px) {
  .col {
    max-width: 48%;
    margin: 0 auto 30px;
  }
  .card h5 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 680px) {
  .card-img-top {
    padding-top: 0px;
    margin: 30px auto -20px;
    max-width: 140px;
  }
  .service h1 {
    font-size: 28px;
    margin-top: 50px;
  }
  .service p {
    font-size: 16px;
  }
  .col {
    max-width: 50%;
    float: left;
    margin-bottom: 25px;
    width: 170px;
    height: 250px;
  }
  .mb-3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .card h5 {
    display: none;
  }
  .btns {
    font-size: 12px;
    padding: 8px 30px;
  }
}

@media only screen and (max-width: 320px) {
  .col {
    max-width: 90%;
    margin: 0 auto 15px;
  }
}

/* Service End */

/* Portfolio Start */

.portfolio {
  background-color: #F6F9F9;
}

.portfolio h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 80px;
  padding-top: 80px;
}

.portfolio p {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 20px;
  padding: 15px;
  padding-bottom: 120px;
}

.container img {
  width: 100%;
  display: block;
  transition: all 100ms ease-out;
}

.container img:hover {
  transform: scale(1.04);
}

@media only screen and (max-width: 1080px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 680px) {
  .portfolio h1 {
    font-size: 28px;
    margin-top: 50px;
  }
  .portfolio p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 428px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* Portfolio End */

/* How To Order Start */

.order h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 80px;
  padding-top: 20px;
}

.order p {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 50px;
}

.cardo {
  background: #FFFFFF;
  border: none;
}
.card-img2-top {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  padding: 30px;  
}

.order h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

.order h5 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #212121;
}

@media only screen and (max-width: 1024px) {
  .col2 {
    max-width: 48%;
    margin: 0 auto 30px;
  }
  .card-img2-top {
    display: block;
    margin: 20px auto;
    max-width: 270px;
  }
}

@media only screen and (max-width: 680px) {
  .col2 {
    max-width: 50%;
    float: left;
    margin: 0 0 -20px 0;
    width: 170px;
    height: 250px;
  }
  .card-img2-top {
    display: block;
    margin: 20px auto;
    max-width: 160px;
  }
  .order h1 {
    font-size: 28px;
    margin-top: 50px;
  }
  .order p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 428px) {
  .col2 {
    margin: 0 auto;
  }
  .order h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
  .order h5 {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .col2 {
    max-width: 90%;
    margin: 0 auto 15px;
  }
}

/* How To Order End */

/* Contact Us Start */

.contact h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 80px;
  padding-top: 20px;
}

.contact p {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-bottom: 20px;
}

.contact button {
  overflow: visible;
}

.contact select {
  text-transform: none;
}

.contact textarea {
  font: inherit;
  margin: -20px 0;
  overflow: auto;
}

.contact input {
  line-height: normal;
}

#contact {
  max-width: 88%;
  margin: 130px auto;
  position: relative;
}

.contact form {
  padding: 37.5px;
  margin: 10px 0;
}

input[type='text'], [type='email'], select, textarea {
  font-family: 'Work Sans';
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ececec;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
}

.name {
  width: 100%;
  margin-bottom: -20px;
}

.email {
  float: left;
  width: 49%;
}

.phone {
  float: right;
  width: 49%;
}

.message {
  font-size: 14px;
  float: none;
  margin: 10px 0;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat 99%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder { 
  color: black;
  opacity: 1;
}

::-moz-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

#form_button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 20px;
  background-color: #00398f;
  color: #fff;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.7s;
}

#form_button:hover {
  background: #0045AD;
}

@media (max-width: 1024px) {
  .contact form {
      padding: 40px 5px;
      margin: 10px 0;
  }
  #container {
      margin: 20px auto;
      width: 95%;
  }
}

@media only screen and (max-width: 680px) {
  .contact h1 {
    font-size: 28px;
  }
  .contact p {
    font-size: 16px;
  }
}

@media (max-width: 428px) {
  .contact h1 {
    margin-top: -100px;
  }
  .contact form {
    padding: 40px 10px;
    margin: -20px 0;
  }
  .icon {
    height: 35px;
    width: 35px;
  }
  .underline {
    width: 68px;
  }
  #form_button {
    font-size: 12px;
    width: 130px;
    height: 40px;
  }
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

/* Contact Us End */

/* Footer Start */ 

.footer {
  background-color: #212121;
  padding-top: 40px;
}

/*END FOOTER SOCIAL DESIGN*/
@media only screen and (max-width:768px) { 
  .single_footer {
    margin-bottom: 0px;
  }
}

.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.single_footer p {
  color:#fff;
}

.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.single_footer ul li a {
  color: #bbb;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.single_footer_address ul li {
  color:#fff;
}

.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.subscribe__input {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  width: 100%;
}

@media only screen and (max-width:768px) { 
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  border-radius: 0 25px 25px 0;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.subscribe__btn i {
  transition: all 0.7s ease 0s;
}

@media only screen and (max-width:768px) { 
  .subscribe__btn {
    right:0px;
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.social_profile {
  margin-top: 40px;
}

.social_profile ul{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_profile ul li {
  float: left;
}

.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255,255,255,0.2);
}

@media only screen and (max-width:1024px) {
  .container {
    height: 390px;
  }
}

@media only screen and (max-width:428px) { 
  .container {
    margin-top: -60px;
    height: 540px;
  }
  .single_footer h4 {
    margin: 20px 0 20px
  }
  .social_profile ul li a {
    margin-right:10px;
    margin-bottom:10px;
  }
}

@media only screen and (max-width:480px) { 
  .social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
  }
}

.social_profile ul li a:hover{
  background:#ff3666;
  border: 1px solid #ff3666;
  color:#fff;
  border:0px;
}

/* Footer End */